tqdm==4.66.1
IPython==8.21.0
numpy==1.26.4
scikit-learn==1.4.0
diffusers==0.19.0
ipykernel==6.29.5
huggingface-hub==0.24.6
opencv-python==4.9.0.80
transformers==4.37.2
accelerate==0.27.2
matplotlib==3.8.3
seaborn==0.13.2
